@model IEnumerable<CRUDUiJWT.Areas.EmployeeManagement.Models.Employee>

@{
    ViewData["Title"] = "Index";
}


@if (TempData["Message"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@TempData["Message"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ApiError"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@TempData["ApiError"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Employee List</h1>

<div class="index-page-actions">
    <a asp-action="Create" class="btn-add">Create New</a>
</div>

<div class="table-responsive">
    <table class="mytb">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmpId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JoinDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Designation)
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoinDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmpId" class="btn btn-outline-primary btn-sm">Edit</a>
@*                     <a asp-action="Details" asp-route-id="@item.EmpId" class="btn btn-info btn-sm">Details</a> *@
                    <a asp-action="Delete" asp-route-id="@item.EmpId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
